
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    background-color: black;
  }
  .btn-close {
    display: inline-block;
  }
  
  .contenido {
    padding-top: 20px;
    width: 600px;
    margin: auto;
    background-color: #f4f4f4;
    height: auto;
    box-shadow: 7px 7px 15px #592a08;
  }
  
  .contenedor {
    display: flex;
  }
  
  .texto {
    width: 90%;
    color: #9f908595;
    font-family: sans-serif;
    text-transform: capitalize;
  }
  h1 {
    padding-left: 20px;
  }
  .botonCerrar {
    padding-top: 5px;
    padding: 20px;
  }
  
  .cantidad {
    width: 100%;
    color: #9f908595;
  }
  
  input {
    width: 100%;
    border: none;
    height: 60px;
    background-color: #f4f4f4;
    padding: 20px;
    color: #9f908595;
    font-family: sans-serif;
    font-size: 2.5em;
  }
  
  .label {
    margin: auto;
    padding-bottom: 20px;
  }
  
  .exterior {
    width: 700px;
    background-color: rgb(235, 235, 235);
    margin: auto;
    padding: 30px;
    padding-top: 0;
  }
  
  .cantidad {
    padding: 10px;
  }
  
  .titulo {
    font-size: 7em;
  
    font-family: sans-serif;
    color: rgb(133, 96, 127);
  }
  